flows.json
[
    {
        "id": "74531fd1a9842d5c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8902a262ae77bb57",
        "type": "mqtt in",
        "z": "74531fd1a9842d5c",
        "name": "Sensor 1",
        "topic": "esp32/sensor1",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a5655fe58dad7227",
                "78849777616d23de"
            ]
        ]
    },
    {
        "id": "6bbe78cf82d87e82",
        "type": "mqtt in",
        "z": "74531fd1a9842d5c",
        "name": "Sensor 2",
        "topic": "esp32/sensor2",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "inputs": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "0ad4e6b0b9c5d3cb",
                "c20598b5c46fb7d1"
            ]
        ]
    },
    {
        "id": "a5655fe58dad7227",
        "type": "ui_text",
        "z": "74531fd1a9842d5c",
        "group": "ui-group1",
        "order": 1,
        "label": "Sensor 1 (cm):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "0ad4e6b0b9c5d3cb",
        "type": "ui_text",
        "z": "74531fd1a9842d5c",
        "group": "ui-group1",
        "order": 2,
        "label": "Sensor 2 (cm):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "78849777616d23de",
        "type": "ui_chart",
        "z": "74531fd1a9842d5c",
        "name": "Gr치fico Sensor 1",
        "group": "ui-group1",
        "order": 3,
        "label": "Dist칙ncia Sensor 1",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "60",
        "removeOlderUnit": "60",
        "outputs": 1,
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c20598b5c46fb7d1",
        "type": "ui_chart",
        "z": "74531fd1a9842d5c",
        "name": "Gr치fico Sensor 2",
        "group": "ui-group1",
        "order": 4,
        "label": "Dist칙ncia Sensor 2",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "60",
        "removeOlderUnit": "60",
        "outputs": 1,
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt-broker-local",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui-group1",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "ui-tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui-tab1",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]